@import url('https://fonts.googleapis.com/css2?family=Karma:wght@300&display=swap');@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Karma:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
}

h1, h2, nav{
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
    color: #e4ffa7;
}
p{
    font-family: 'Karma', serif;
}

header{
    background-color: #e4ffa7;
}
.navbar-light{
    background-color: #e4ffa7;
}
.nav-name{
    font-size: 40px;
    color: #727f53;
}
nav a:hover{
    text-decoration: none;
    color: #444c32;
}
main{
    background-color:#ca9aff;
    height: 600px;
}

