@import url('https://fonts.googleapis.com/css2?family=Karma:wght@300&display=swap');@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Karma:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
}

h1, h2, nav{
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
}
p{
    font-family: 'Karma', serif;
}

header{
    background-color: #e4ffa7;
}
.navbar-light{
    background-color: #e4ffa7;
}
.nav-name{
    font-size: 40px;
    color: #727f53;
}
nav a:hover{
    text-decoration: none;
    color: #444c32;
}

.active{
    color: #444c32 !important;
}

.location-paragraph{
    color: #e4ffa7;
}

.main-name{
    color: #e4ffa7;
}

main{
    background-color: #e4ffa7;
}
.full-width-section{
    background-color:#ca9aff;
    height: 600px;
}

.name-section{
    height: 600px;
    text-align: end;
}
.name-section h1{
    font-size: 100px;
}
.letter-outline{
    -webkit-text-fill-color: #ca9aff; 
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #ffffff;
}
.name-section p{
    font-size: 30px;
    font-weight: 500;
}

.featured-container{
    margin-top: 40px;
}

.featured-projects{
    padding-top: 30px;
    padding-bottom: 80px;
}

.featured-projects h1{
    font-size: 60px;
    text-align: center;
    color: #ca9aff;
}

.featured-project-picture{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    max-width: 400px;
}

.featured-project-picture:hover{
    opacity: 0.4;
    cursor: pointer;
}

.container:hover .middle {
    opacity: 1;
}

footer{
    height: 150px;
    background-color: #ca9aff;
}

.social-icons{
    text-align: center;
}

.social-icons i{
    color: #ffffff;
    margin: 60px 10px 24px 10px;
}

.social-icons i:hover{
    color: #e4ffa7;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

footer p{
    text-align: center;
    color: #ffffff;
}

footer p a{
    color: #e4ffa7;
    text-decoration: underline;
    font-weight: 600;
}

footer p a:hover{
    color: #e4ffa7;
}

@media only screen and (max-width: 600px) {
    .name-section h1{
        font-size: 40px;
    }
    .name-section p{
        font-size: 20px;
    }
    .full-width-section{
        background-color:#ca9aff;
        height: 260px;
    }
    .featured-project-picture{
        margin: 24px;
        max-width: 200px;
    }
    .featured-container img{
        margin: 0 auto;
    }

    .call-to-action-block{
        height: 180px;
    }
    .talk-btn a{
        margin-left: 18px;
    }}\
@media only screen and (max-width: 992px) {
    .featured-container img{
        margin: 0 auto;
        margin-top: 40px;
    }
}
/*-------------------------------------------------Work-Page------------------------------------------------------------*/
.project-picture {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.heading-my-works{
    color: #ca9aff;
    text-align: center;
    font-size: 60px;
}
.project-picture:hover{
    opacity: 0.4;
    cursor: pointer;
}
/*-------------------------------------------------Contact-Page----------------------------------------------------------*/
.contact-section{
    background-color: #ca9aff;
    height: 620px;
}

.contact-me-heading{
    font-size: 60px;
    color: #e4ffa7;
    text-align: center;
}

.contact-footer{
    background-color: #e4ffa7;
    color: #727f53;
}
.contact-section h2{
    color: #ffffff;
    margin-top: 20px;
}

.contact-section h3{
    margin: 20px;
}

.contact-footer i,
.contact-footer a,
.contact-footer p{
    color: #727f53;
}

.contact-footer i:hover,
.contact-footer a:hover,
.contact-footer p:hover{
    color: #444c32;
}
.wrapper{
    margin: 0 auto;
    text-align: center;
}

.wrapper a{
    color: #e4ffa7;
}

.wrapper a:hover{
    color: #e4ffa7;
    text-decoration: none;
    transition: 0.2s ease-in-out;
    font-size: 16px;
}

.call-to-action-block{
    width: 60%;
    background-color: #e4ffa7;
    margin: 0 auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 5px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.call-to-action-block h3{
    font-family: 'Bebas Neue', cursive;
    color: #727f53;
    font-size: 40px;
}

.talk-btn{
    margin-top: 32px;
}

.talk-btn a{
    background-color: #ca9aff;
    padding: 16px;
    color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 20%;
    align-self: center;
    margin-right: 20px;
}

.talk-btn a:hover{
    background-color: #727f53;
    color: #e4ffa7;
    text-decoration: none;
    transition: 0.2s ease-in-out;
}
